.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
}

.dual-div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left-div, .right-div {
  border: 1px solid black;
  width: 180px;
  height: 210px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
}

.left-div {
  margin-right: 100px;
}

.right-div {
  margin-left: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(148,163,184);
}

button:enabled {
  background-color: rgb(42, 123, 228);
}
